h1 {
  font-size: 120px;
  margin-bottom: 0;
}

p {
  font-size: 30px;
  margin-top: 0;
}

h1,
p {
  color: var(--text);
}

a {
  background: #fff;
  color: #000;
  border: none;
  outline: 0;
  font-size: 17px;
  padding: 9px 15px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s ease;
  text-decoration: none;
}

a:hover {
  background: #c9c9c9;
}
